%section#ident
  .hero

    %h1<
      %img{:src=>"/images/cryptographics-logo-512.png", :width=>"64", :height=>"64"}
      %span.logo> Cryptographics
      %span.io> .io
    %h2
      Hide information inside a graphic

%section#cryptographic
  #display
  #options.centered
    %p
      %a.button.btn.btn--primary{:href=>"#creating"} Create an image
    %p
      %a{:href=>"#download"} Download this image

%section#hero
  .examples
    .thirds
      .third
        %a{:href=>"/quilt"}
          %img{:src=>"/images/quilt-small.jpg", :alt=>"A cryptographic quilt", :width=>"480", :height=>"320"}
      .third
        %a{:href=>"/object"}
          %img{:src=>"/images/object-small.jpg", :alt=>"A cryptographic art object", :width=>"480", :height=>"320"}
      .third
        %a{:href=>"/pin"}
          %img{:src=>"/images/pin-small.jpg", :alt=>"A cryptographic representation of a PIN", :width=>"480", :height=>"320"}
  .hero.guttered
    .intro
      %p
        Take a piece of
        = succeed(",") do
          %a{:href=>"/pin"} secret information
        encrypt it with a password and turn it into an image that you can print out, turn into
        = succeed(",") do
          %a{:href=>"/object"} an artwork
        make into a
        = succeed(",") do
          %a{:href=>"/quilt"} quilt
        or put anywhere else you can put a two dimensional design. Only someone with the password can 
        %a{:href=>"/decode"} decode 
        it again.
      %p
        The image holds an encrypted version of whatever secret you choose to put into it, and can be decoded by anyone who you give the password to.
      %p
        Use the form below to create an image, which will generate an SVG file locally in your browser using Javascript. So it's not sending your password or secret anywhere while you make it.
      %p
        For the crypto-geeks, the encryption is via
        = succeed(".") do
          %a{:href=>"https://github.com/mdp/gibberish-aes"}
            OpenSSL compatible AES

%section#creating.creation
  .guttered
    %h2
      Create a cryptographic
    .r
      %label{:for=>"secret"} What's the secret you want to encrypt into an image?
      %textarea#secret{:name=>"secret", :placeholder=>"A very important thing that you want to keep secret"} A very important thing that you want to keep secret
    .r
      %label{:for=>"password"} What will be the password for your image?
      %input#password{:type=>"text", :name=>"password", :value=> "A strong password", :placeholder => "A password of your choice"}
      %p
        Leave the password blank to generate an image without encryption.
    .r
      %button.btn.btn--primary#generate{:type=>"submit"} Generate your cryptographic image
      %p
        Keep your password safe — it's not stored anywhere by this service. No information is sent anywhere – this all happens locally in your browser.
%section#download
  .guttered
    %form#download-it{:action=>"/download", :method => "post"}
      %h2
        Download this image (desktop only)
      %button.btn.btn--primary#save{:type=>"submit"} Download an SVG
      %p
        The image is generated locally, so this does not send any data via the web. This uses some modern HTML5 features, so if it doesn't work, please try using Google Chrome.

- if false
  %section#sending
    .guttered
      %form#send-it{:action=>"/email", :method=>"post", :enctype=>"multipart/form-data"}
        %input.svg{:name=>"svg", :type=>"hidden", :value=>""}
        %h2
          Email this image
        %input#email{:name=>"email", :type=>"email", :placeholder=>"you@example.com"}
        %button.btn.btn--primary#send{:type=>"submit"} Send the image
        %p
          To do this, the image is sent back to the server. It does not include the secret or password and does not log the image anywhere.

%section#about
  .guttered
    %h2
      About this project
    %p
      This is a two-day hack project coded and designed by
      %a{:href=>"http://twitter.com/stef"} Stef Lewandowski
      in collaboration with artist and photographer
      = succeed(".") do
        %a{:href=>"http://twitter.com/lovelylizz"} Liz Barile
    %p
      This was one of the ~25 hacks that were made over a weekend at Digital Sizzle's
      Arthack
      = succeed(",") do
        %a{:href=>"http://thedigitalsizzle.com/"}="#sizzle9"
      held at South Place Hotel. The brief was to collaborate around using data in the creation of artworks.
%section#why
  .guttered
    %h2
      But why?
    %p
      There's a growing interest in security of information, and privacy around personal data, mainly in light of the revelations about governmental access and legal processes around what we assume is for our eyes only.
    %p
      By encoding information into a physical object, you take it offline, and you're in control of what it contains. You can also use it in interesting ways - perhaps a treasure hunt involving encrypted images placed in locations, or a message to your grandchildren encoded in an object, or for sending information to someone in an entirely offline way, or just making a statement about how passwords and security are part of everyday life nowadays.
    %p
      Let's say you encode your 1Password master password into an image and turn it into a poster that you hang in your office. It would look like a print from IKEA, but the password that you use to encrypt that password could be left in your will for your family to have after you die.
    %p
      You wouldn't leave your actual 1Password password with your lawyer in case they were hacked, and it would require two-factor authentication - the object and the password from your lawyer – to reveal the password.
    %p
      After your death your family would then have access to your digital estate.
    %p
      Digital legacy is just one use case for this technique, and this site will update with new applications and ideas as people suggest them.
%section#credits
  .guttered
    %h2
      Credits
    %p
      %img{:src=>"/images/stef-and-liz-3.jpg", :alt=>"Stef and Liz"}
    %p
      Made by
      = succeed(",") do
        %a{:href=>"http://twitter.com/stef"} @stef
      %a{:href=>"http://lizbarile.com"}
        Liz
      and friends at
      = succeed(".") do
        %a{:href=>"https://www.hackerleague.org/hackathons/digital-sizzle-9-art-hack"}
          Digital Sizzle 9