!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %link{:href=>"/images/icon-57x57.png", :rel=>'shortcut icon'}
    %link{:href=>"/images/icon-57x57.png", :rel=>'apple-touch-icon-precomposed', :sizes=>'57x57'}
    %link{:href=>"/images/icon-72x72.png", :rel=>'apple-touch-icon-precomposed', :sizes=>'72x72'}
    %link{:href=>"/images/icon-114x114.png", :rel=>'apple-touch-icon-precomposed', :sizes=>'114x114'}
    %link{:href=>"/images/icon-144x144.png", :rel=>'apple-touch- icon-precomposed', :sizes=>'144x144'}

    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "Cryptographics", :property => "og:title"}/
    %meta{:content => "Hire My Friend", :property => "og:site_name"}/
    %meta{:content => "http://www.hiremyfriend.io", :property => "og:url"}/
    %meta{:content => "Encrypt information into a graphic", :property => "og:description"}/
    %meta{:content => "/images/cryptographics-sharing.png", :property => "og:image"}/
    %meta{:content => "@stef", :name => "twitter:creator"}/

    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "Cryptographic", :name => "twitter:title"}/
    %meta{:content => "Encrypt information into a graphic", :name=>"twitter:description"}/
    %meta{:content => "/images/cryptographics-sharing.png", :name => "twitter:image"}/
    %meta{:content => "/images/cryptographics-sharing.png", :name => "twitter:image:src"}/

    %title
      Cryptographics
    = stylesheet_link_tag "app"
    = javascript_include_tag "jquery-#{settings.environment}", "jquery.scrollto", "filesaver", "raphael", "raphael.export", "gibberish", "application"
    = yield_content(:javascript)
    = yield_content(:head)
    <script type="text/javascript" src="//use.typekit.net/vqa1rqe.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    :plain
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42773496-1', 'cryptographics.io');
        ga('send', 'pageview');
      </script>
  %body
    .container
      - if success = flash[:success]
        #flash
          %h2
            = success
      = yield